{{>search}}
<header class="image-bg">
    {{>nav}}
    <div class="mt-5 text-center pb-10 f-medium">
        <span class="mb-3 header-2-text f-light">Your Cart</span>
        <div class="not-active">
            <a href="/catalog">Shop</a>
            <span> &nbsp; > &nbsp; </span>
            <a class="active" href="#">Cart</a>
        </div>
    </div>
</header>
<main class="mt-4 mx-auto">
    <div class="container no-gutters mx-auto px-3">
        <div class="row no-gutters">
            <div class="col-12 col-md-9 pr-3 ">
                {{#each items}}
                    <div class="cart-item">
                        <div class="row no-gutters position-relative">
                            <div class="col-12 col-md-7">
                                <div class="row no-gutters d-flex align-items-center">
                                    <div class="col-4">
                                        <div class="image-bg square-bg"
                                             style="background-image: url('{{preview}}')"></div>
                                    </div>
                                    <div class="col-8 pl-3">
                                        <div class="big-text f-medium pr-2">{{this.name}}</div>
                                        <div class="not-active">${{this.price}}.00</div>
                                        <div class="mt-2">
                                            <div>
                                                <span class="not-active">Size: <span
                                                        class="f-medium active">M</span></span>
                                            </div>
                                            <div>
                                                <span class="not-active">Color: <span
                                                        class="f-medium active">Blue</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5 d-flex ">
                                <div class="row no-gutters w-100 ">
                                    <div class="col-12 h-100 d-flex flex-md-column justify-content-center align-items-baseline">
                                        <div class="pl-2 pl-md-0 text-left text-md-center w-100">
                                            <span class="big-text">$<span id="subtotal_{{this.alias}}">{{this.total}}</span>.00</span>
                                        </div>
                                        <div class="d-flex mt-2 mx-auto justify-content-center">
                                            <a onclick="downItemCart(this, '{{this.alias}}')" href="javascript:void(0)"
                                               class="add2cart-side border-right rounded-0 big-text image-bg">
                                                -
                                            </a>
                                            <div class="add2cart-center image-bg f-medium rounded-0 px-4">
                                                <span class="px-1 itemsCount">{{this.count}}</span>
                                            </div>
                                            <a onclick="upItemCart(this, '{{this.alias}}')" href="javascript:void(0)"
                                               class="add2cart-side border-left rounded-0 image-bg big-text">
                                                +
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute remove-cart-item">
                                <a onclick="downItemCart(this, '{{this.alias}}', true)" class="very-big-text"
                                   href="javascript:void(0)" data-dismiss="alert" aria-label="Close">
                                    <ion-icon name="close"></ion-icon>
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                {{/each}}
            </div>
            <div class="col-12 col-md-3">
                <div class="image-bg">
                    <div class="row no-gutters p-3 pb-0">
                        <div class="col-6 text-left">
                            <div class="my-1"><span class="f-medium" id="size">{{size}}</span><span> items</span></div>
                            <div class="my-1"><span>Shipping</span></div>
                            <div class="my-1"><span>Taxes</span></div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="my-1">$<span id="totalPrice">{{totalPrice}}</span>.00</div>
                            <div class="my-1">$<span id="shipping">{{shipping}}</span>.00</div>
                            <div class="my-1">$<span id="taxes">{{taxes}}</span>.00</div>
                        </div>
                    </div>
                    <div class="row no-gutters px-3">
                        <div class="col-12">
                            <hr class=" p-0 m-0">
                        </div>
                    </div>

                    <div class="row no-gutters p-3">
                        <div class="col-6 text-left">
                            <div class="my-1 big-text text-uppercase"><span>Total</span></div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="my-1 big-text f-medium">$<span id="summary">{{summary}}</span>.00</div>
                        </div>
                    </div>

                    <div class="row no-gutters px-3 pb-3">
                        <a href="/checkout" class="add2cart-item btn text-uppercase black-bg white rounded-0 w-100">
                            Checkout
                        </a>
                    </div>
                </div>
                <div class="mt-2 text-center">
                    <a class="f-medium blue" href="/catalog"> Continue shopping ></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-5">
        <hr>
    </div>
    <div class="container mx-auto mt-5">
        <div class="row d-flex justify-content-center justify-content-md-between">
            <div class="col-10 col-md-3 col-lg-2 px-1 text-center border-right mb-3">
                <div>
                    <img class="img-advantage" src="images/truck.png"/>
                </div>
                <div class="mt-3">
                    <span class=" f-medium not-active">Free shipping</span>
                </div>
            </div>
            <div class="col-10 col-md-3 col-lg-2 px-1 text-center mb-3">
                <div>
                    <img class="img-advantage" src="images/support.png"/>
                </div>
                <div class="mt-3">
                    <span class=" f-medium not-active">Support Customers</span>
                </div>
            </div>
            <div class="col-10 col-md-3 col-lg-2 px-1 text-center border-left mb-3">
                <div>
                    <img class="img-advantage" src="images/shield.png"/>
                </div>
                <div class="mt-3">
                    <span class=" f-medium not-active">Secure Payments</span>
                </div>
            </div>
        </div>
    </div>
</main>
{{>footer}}