{{>search}}
<header class="image-bg">
    {{>nav}}
    <div class="mt-5 text-center pb-10 f-medium">
        <span class="mb-3 header-2-text f-light">Filters 3</span>
        <div class="not-active">
            <a href="#">Shop</a>
            <span> &nbsp; > &nbsp; </span>
            <a class="active" href="#">Filters</a>
        </div>
    </div>
</header>
<main class="mt-4 mx-auto">
    <div class="container no-gutters f-medium not-active mx-auto text-center px-3">
        <div class="row no-gutters">
            <button type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false"
                    aria-controls="filters"
                    class="btn w-100 d-md-none d-block mb-2 border rounded-0 bg-gray">
                        <span class="blue f-medium big-text">Show filters</span>
            </button>
            <aside id="filters" class="col-12 col-md-4 text-left pl-md-5 pb-md-0 pb-3 collapse d-print-none d-md-block">
                <div class="filter-category">
                    <span class="big-text active">Filter</span>
                </div>
                <div class="filter-params">
                    <a class="{{#ifCond rules.filter 'popularity'}}active{{/ifCond}}"
                       href="{{baseUrl}}/filter?filter=popularity">Popularity</a>
                    <a class="{{#ifCond rules.filter 'newest'}}active{{/ifCond}}"
                       href="{{baseUrl}}/filter?filter=newest">Newest</a>
                    <a class="{{#ifCond rules.filter 'sales'}}active{{/ifCond}}"
                       href="{{baseUrl}}/filter?filter=sales">Sales</a>
                </div>
                <div class="filter-category">
                    <span class="big-text active">Sort by</span>
                </div>
                <div class="filter-params">
                    <a class="{{#ifCond rules.sortFilter 'low2high'}}active{{/ifCond}}"
                       href="{{baseUrl}}/filter?sort=low2high">Price: low to hight</a>
                    <a class="{{#ifCond rules.sortFilter 'high2low'}}active{{/ifCond}}"
                       href="{{baseUrl}}/filter?sort=high2low">Price: hight to low</a>
                </div>
                <div class="filter-category">
                    <span class="big-text active">Category</span>
                </div>
                <div class="filter-params">
                    <select class="border" id="categorySelect" onchange="setFilter('{{baseUrl}}/filter?category=')">
                        <option value="all">All</option>
                        {{#each categories}}
                            <option {{#ifCond this.alias ../category.alias}}selected{{/ifCond}} value="{{this.alias}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="filter-category">
                    <span class="big-text active">Price</span>
                </div>
                <div class="mt-3 filter-params">
                    {{#if rules.price_to}}
                        <a class="active"
                           href="{{baseUrl}}/filter?price_from={{rules.price_from}}&price_to={{rules.price_to}}">
                            ${{rules.price_from}}.00 - ${{rules.price_to}}.00
                        </a>
                       <div>
                           ------------------
                       </div>
                    {{/if}}
                    <a href="{{baseUrl}}/filter?price_from=0&price_to=1000">All prices</a>
                    <a href="{{baseUrl}}/filter?price_from=0&price_to=50">$0.00 - $50.00</a>
                    <a href="{{baseUrl}}/filter?price_from=50&price_to=100">$50.00 - $100.00</a>
                    <a href="{{baseUrl}}/filter?price_from=100&price_to=200">$100.00 - $200.00</a>
                    <a href="{{baseUrl}}/filter?price_from=200&price_to=350">$200.00 - $350.00</a>
                    <a href="{{baseUrl}}/filter?price_from=350&price_to=1000">$350.00+</a>
                </div>
            </aside>
            <div class="col-lg-8 col-12">
                <div class="mt-1 text-left">
                    <span>We found <span class="f-semibold active">{{count}}</span> products available for you</span>
                </div>
                <div class="row mt-3">
                    {{#each items}}
                        <div class="col-12 col-md-6 mb-5">
                            <a href="{{../baseUrl}}/{{this.category.alias}}/{{this.alias}}" class="d-block image-bg square-bg position-relative active" style="background-image: url('{{this.preview}}')">
                                <div class="position-absolute add2cart text-center">
                                    <div onclick="add2Cart('{{this.alias}}', '{{this.name}}', 1)" class="pointer btn bg-white p-3 rounded-0">
                                                <span>ADD TO CART &nbsp; | &nbsp; <ion-icon class="align-top very-big-text heart"
                                                                                            name="heart"></ion-icon></span>
                                    </div>
                                </div>
                            </a>
                            <a href="{{../baseUrl}}/{{this.category.alias}}/{{this.alias}}" class="d-block text-center mt-2">
                                <span class="f-medium active">{{this.name}}</span>
                                <br>
                                <span>{{this.price}}.00 USD</span>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <hr>
                <nav aria-label="Page navigation example ">
                    <ul class="pagination justify-content-center active">
                        <li class="page-item mr-auto">
                            <a class="page-link" href="{{baseUrl}}/filter?skip={{rules.prewSkip}}" tabindex="-1">< Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link {{#ifCond curPage 1}}active-pagination{{/ifCond}}" href="{{baseUrl}}/filter?skip=0"> 1 </a></li>
                        {{#if showLessFirst}}
                            <li class="page-item px-2 py-1">
                                <div class="align-bottom">...</div>
                            </li>
                        {{/if}}

                        {{#each paginations}}
                            <li class="page-item"><a class="page-link {{#ifCond ../curPage this.page}}active-pagination{{/ifCond}}" href="{{../baseUrl}}/filter?skip={{this.skip}}">{{this.page}}</a></li>
                        {{/each}}
                        {{#if showMoreLast}}
                            <li class="page-item px-2 py-1">
                                <div class="align-bottom">...</div>
                            </li>
                        {{/if}}
                        <li class="page-item"><a class="page-link {{#ifCond curPage lastPagination.page}}active-pagination{{/ifCond}}" href="{{baseUrl}}/filter?skip={{lastPagination.skip}}">{{lastPagination.page}}</a></li>
                        <li class="page-item ml-auto">
                            <a class="page-link" href="{{baseUrl}}/filter?skip={{rules.nextSkip}}">Next ></a>
                        </li>
                    </ul>
                </nav>
                <hr>
            </div>

        </div>
        {{>help_goods}}
    </div>
    <div class="image-bg pt-5 pb-4 mt-3">
        <div class="container no-gutters mx-auto text-center">
            <div>
                <span class="sub-header-text">
                    Get Discount 30% Off
                </span>
                <br>
                <span>
                    Subscribe for our newsletters and get 30% discount!
                </span>
            </div>
            <div class="mt-4 row">
                <div class="col-12 col-md-10 col-lg-8 mx-auto">
                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-8">
                                <input type="email" class="rounded-0 form-control" id="email"
                                       placeholder="Enter your email address">
                            </div>
                            <div class="col-12 col-md-4">
                                <button type="submit" class="rounded-0 btn bg-red text-white w-100">Subscribe</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</main>
{{>footer}}