<header class="image-bg">
    <nav class="container no-gutters px-3 navbar mx-auto f-medium text-center">
        <a class="navbar-brand logo mx-auto" href="#">
            Flinto
        </a>
    </nav>
    <div class="text-center pb-2 f-medium">
        <span class="mb-3 header-2-text f-light">Checkout</span>
        <div class="not-active mb-2">
            <a href="/cart">Your cart</a>
            <span> &nbsp; > &nbsp; </span>
            <a class="active" href="#">Checkout</a>
        </div>
    </div>
</header>
<main class="mt-4 mx-auto">
    <div class="container no-gutters mx-auto px-3">
        <div class="row no-gutters">
            <div class="order-md-1 order-2 col-12 col-md-8 pr-md-5">
                <form action="" method="post">
                    <div class="very-big-text">Contact Information</div>
                    <div class="form-group mt-2 mb-1">
                        <label for="email">Email</label>
                        <input id="email" name="email" required type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" checked type="checkbox" id="gridCheck">
                            <label class="form-check-label small-text not-active" for="gridCheck">
                                Keep me up to date on news / exclusive offers
                            </label>
                        </div>
                    </div>
                    <div class="very-big-text mt-5">Shipping Address</div>
                    <div class="form-row">
                        <div class="form-group mt-2 mb-1 col-12 col-md-6">
                            <label for="first_name">First name <span
                                    class="not-active small-text">(optional)</span></label>
                            <input id="first_name" name="first_name" type="text" class="form-control"
                                   placeholder="First name">
                        </div>
                        <div class="form-group mt-2 mb-1 col-12 col-md-6">
                            <label for="last_name">Last name</label>
                            <input id="last_name" name="last_name" required type="text" class="form-control"
                                   placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group mt-2 mb-1">
                        <label for="address">Address</label>
                        <input id="address" name="address" required type="text" class="form-control"
                               placeholder="Address">
                    </div>
                    <div class="form-group mt-2 mb-1">
                        <label for="apt">Apartment, suite, etc. <span
                                class="not-active small-text">(optional)</span></label>
                        <input id="apt" name="apt" type="text" class="form-control"
                               placeholder="Apartment, suite, etc.">
                    </div>
                    <div class="form-group mt-2 mb-1">
                        <label for="city">City</label>
                        <input id="city" name="city" required type="text" class="form-control" placeholder="City">
                    </div>
                    <div class="form-row mt-2 mb-1">
                        <div class="form-group col-md-4">
                            <label for="country">Country</label>
                            <select class="form-control" id="country" name="country">
                                <option value="usa">United States</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="state">State</label>
                            <select class="form-control" id="state" name="state">
                                <option value="usa">Pennsylvania</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="zip">State</label>
                            <input id="zip" name="zip" required type="text" class="form-control" placeholder="Zip">
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="mx-auto  btn blue-bg text-white f-medium mb-2 py-3 px-3">Continue to shipping method</button>
                    </div>
                </form>
            </div>
            <div class="col-12 order-md-2 order-1 col-md-4 mb-4">
                <div class="row no-gutters">
                    <button type="button" data-toggle="collapse" data-target="#orderSummary" aria-expanded="false"
                            aria-controls="orderSummary"
                            class="d-flex justify-content-between regular-text btn btn-light w-100 d-md-none d-block">
                        <span class="blue small-text"><ion-icon class="big-text align-middle" name="cart"></ion-icon> Show order summary<span
                                class="align-middle"> (2)</span> ></span> <span>${{summary}}.00</span>
                    </button>
                    <div id="orderSummary" class="col-12 collapse d-print-none d-md-block">
                        <div class="text-center big-text mb-2">
                            <span>Order summary</span>
                        </div>
                        <div class="col-12 pr-3">
                            {{#each items}}
                                <div class="row no-gutters position-relative">
                                    <div class="col-12">
                                        <div class="row no-gutters d-flex align-items-center">
                                            <div class="col-3 col-md-4">
                                                <div class="image-bg square-bg" style="background-image: url('{{this.preview}}')"></div>
                                            </div>
                                            <div class="col-9 col-md-8 pl-3 small-text">
                                                <div class="f-medium pr-2">{{this.name}}</div>
                                                <div class="not-active">${{this.price}}.00</div>
                                                <div class="mt-md-2">
                                                    <div class="not-active">M / Blue</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {{/each}}
                        </div>

                        <div class="col-12 ">
                            <div class="image-bg">
                                <div class="row no-gutters p-3 pb-0">
                                    <div class="col-6 text-left">
                                        <div class="my-1"><span class="f-medium">{{size}}</span><span> items</span></div>
                                        <div class="my-1"><span>Shipping</span></div>
                                        <div class="my-1"><span>Taxes</span></div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="my-1"><span>${{totalPrice}}.00</span></div>
                                        <div class="my-1"><span>${{shipping}}.00</span></div>
                                        <div class="my-1"><span>${{taxes}}.00</span></div>
                                    </div>
                                </div>
                                <div class="row no-gutters px-3">
                                    <div class="col-12">
                                        <hr class=" p-0 m-0">
                                    </div>
                                </div>

                                <div class="row no-gutters p-3">
                                    <div class="col-6 text-left">
                                        <div class="my-1 big-text text-uppercase"><span>Total</span></div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <div class="my-1"><span class="big-text f-medium">${{summary}}.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

    <div class="container no-gutters not-active px-3 py-3 mx-auto">
        <hr>

        <div class="row no-gutters d-flex justify-content-between align-items-center">
            <div>
                <a class="blue mr-2" href="/qa/privacy">
                    Privacy policy
                </a>
                <a class="blue mr-2" href="/qa/terms">
                    Our terms
                </a>
                <a class="blue mr-2" href="/qa/refund">
                    Refund policy
                </a>
            </div>
            <div class="mt-2">
                <a class="mr-1" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a class="mr-1" href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a class="mr-1" href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="logo-pinterest"></ion-icon>
                </a>
            </div>
        </div>

    </div>
</footer>