<main class="container-fluid no-gutters p-0 h-100">
    <div class="row no-gutters h-100">
        {{>admin_navbar}}
        <div class="col-8 col-md-9">
            <div class="row no-gutters">
                {{>admin_header}}
            </div>
            <div class="row no-gutters">
                <div class="col-12 p-4">
                    {{#if category.alias}}
                        <div class="row no-gutters">
                            <div class="col-12 mx-auto col-md-10 col-lg-6 d-flex justify-content-between">
                                <a class="btn btn-primary" href="{{baseUrl}}/copy/{{category.alias}}" ><ion-icon class="align-middle big-text" name="copy"></ion-icon> Clone</a>
                                <a class="btn btn-danger" href="{{baseUrl}}/remove/{{category.alias}}" ><ion-icon class="align-middle big-text" name="trash"></ion-icon> Remove</a>
                            </div>
                        </div>
                    {{/if}}
                    <div class="row no-gutters mt-3">
                        <div class="col-12 mx-auto col-md-10 col-lg-6">
                            <form action="" method="POST">
                                <div class="form-group">
                                    <label for="name">Alias</label>
                                    <input type="text" class="form-control" placeholder="Alias" id="alias" min="3"
                                           max="30" required name="alias" value="{{category.alias}}">
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" min="3"
                                           max="30" required name="name" value="{{category.name}}">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-block bg-blue text-white">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>