<main class="container-fluid no-gutters p-0 h-100">
    <div class="row no-gutters h-100">
        {{>admin_navbar}}
        <div class="col-8 col-md-9">
            <div class="row no-gutters">
                {{>admin_header}}
            </div>
            <div class="row no-gutters">
                <div class="col-12 p-4">
                    <div class="row no-gutters d-flex justify-content-between">
                        <div class="col-4 text-white pr-3">
                            <div class="px-3 py-2 bg-red ">
                                <div><span class="text-uppercase">Categories</span></div>
                                <div class="small-text"><span class="big-text f-medium text-uppercase">{{catCount}}</span> total</div>
                            </div>
                        </div>
                        <div class="col-4 text-white">
                            <div class="px-3 py-2 bg-blue ">
                                <div><span class="text-uppercase">Items</span></div>
                                <div class="small-text"><span class="big-text f-medium text-uppercase">{{itemsCount}}</span> total</div>
                            </div>
                        </div>
                        <div class="col-4 pl-3 text-white">
                            <div class="px-3 py-2 bg-green">
                                <div><span class="text-uppercase">Orders</span></div>
                                <div class="small-text"><span class="big-text f-medium text-uppercase">NA</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if tmpStat.exists}}
                <div class="row no-gutters">
                    <div class="col-12 p-4">
                        <div class="row no-gutters d-flex justify-content-between">
                            <div class="col-6 pr-3">
                                <div class="px-3 py-2  bg-white">
                                    <div><span class="text-uppercase">Temp directory stat</span></div>
                                    <div class="tmpInfo">
                                        <div class="small-text">
                                            <span class="big-text f-medium text-uppercase">{{tmpStat.files}}</span> files
                                        </div>
                                        <div class="small-text">
                                            <span class="big-text f-medium text-uppercase">{{tmpStat.dirs}}</span> dirs
                                        </div>
                                        <div class="small-text">
                                            <span class="big-text f-medium text-uppercase">{{tmpStat.bytesStr}}</span>
                                        </div>
                                    </div>
                                    <div class="tmpCleared py-2" style="display:none;">
                                        <div class="text-center">
                                            <span class="big-text green">Clear</span>
                                        </div>
                                    </div>
                                </div>
                                <div onclick="clearTmp()" class="btn btn-danger text-white btn-block rounded-0 f-medium">
                                    Clear tmp folder
                                </div>
                            </div>
                            <div class="col-6 pl-3">
                                <div class="px-3 py-2 bg-white">
                                    <div><span class="text-uppercase">Vacant </span></div>
                                    <div class="small-text"><span class="big-text f-medium text-uppercase">free</span> total</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>


</main>